<header>
    <nav class="navbar">
        <div class="container-fluid">
        <div class="navbar-header"><b>Dictionary</b></div>
        <div class="nav navbar-nav">
            <ul class="list-inline">
            <li>
                <a class="list-inline-item" href="/login">Login</a>
                <a class="list-inline-item" href="/register">Register</a>
            </li>
            </ul>
        </div>
        </div>
    </nav>
</header>