<div class="container">
    <div class="search-box">
        <input type="text" placeholder="Enter a word" id="word" name="word">
        <button id="search">Search</button>
    </div>
    <div class="result" id="result">
        <div class="def-word" id="def-word"></div>
        <div class="def" id="def"></div>
        <h3 id="illustration"></h3>
        <img id="img" src="">
    </div>
</div>
<script>
    const url = "https://www.dictionaryapi.com/api/v3/references/collegiate/json/"
    const apikey = "fc2a6d52-84b1-49e8-af86-a895011f2698"
    const defword = document.getElementById("def-word")
    const def = document.getElementById("def")
    const ill = document.getElementById("illustration")
    const btn = document.getElementById("search")

    btn.addEventListener("click", () => {
        let word = document.getElementById("word").value;

        fetch(`${url}${word}?key=${apikey}`)
            .then((res) => res.json())
            .then((data) => { 
                console.log(data)
                defword.innerHTML = `<h2>${data[0].meta.id}</h2>`
                def.innerHTML = `<h3>Definition: </h3><p>${data[0].def[0].sseq[0][0][1].dt[0][1]}</p>`
                ill.innerHTML = 'Illustration: '
                try {
                    document.getElementById("img").src = `https://www.merriam-webster.com/assets/mw/static/art/dict/${data[0].art.artid}.gif`
                } catch {
                    document.getElementById("img").src = "https://i.imgur.com/D1nM11A.png"
                }
            })
            .catch( () => {
                defword.innerHTML = `<h3>The word ${word} does not exist.</h3>`
            })

    })
</script>

